@import "@/styles/base/mixin";

$subColor: rgba(255, 255, 255, 0.3);

.container {
	width: 100vw;
	height: auto;
	padding: 12% 0 5% 0;
	position: relative;

	@include Medium {
		padding-top: 5%;
	}

	&::after {
		content: 'Forest';
		position: absolute;
		font-size: 200px;
		color: $subColor;
		top: 0;
		left: 0;
		z-index: 1;

		@include Large {
			font-size: 120px;
		}

		@include Medium {
			display: none;
		}
	}

	&::before {
		content: 'Explore';
		position: absolute;
		font-size: 200px;
		color: $subColor;
		right: 0;
		bottom: 0;
		z-index: 1;

		@include Large {
			font-size: 100px;
		}

		@include Medium {
			display: none;
		}
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 2rem 1rem 2rem;

		.item {
			position: relative;
			height: 80vh;
			border-radius: 50px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			box-sizing: border-box;
			margin-bottom: 1rem;
			cursor: pointer;
			background-color: $subColor;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 1s ease-in-out;

			@include Large {
				height: 50vh;
			}

			@include Small {
				height: 30vh;
			}

			@include X-Small {
				height: 20vh;
				border-radius: 20px;
			}

			.intro {
				transition: all 1s ease-in-out;
				background: linear-gradient(transparent, transparent, #00000093);
				width: 100%;
				height: 100%;
				padding: 2rem;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				user-select: none;

				@include X-Small {
					padding: 1rem;
				}

				h6 {
					font-size: 40px;
					font-weight: bold;

					@include X-Small {
						font-size: 28px;
					}
				}

				span {
					margin: 0 10px;
				}
			}

			.play {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: none;
				background-color: rgba(0, 0, 0, 0.1);
			}

			&:hover {
				.play {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			&.large {
				width: calc(60% - 1rem);

				@include Medium {
					width: calc(50% - 1rem);
				}

				@include Small {
					width: 100%;
				}
			}

			&.small {
				width: 40%;

				@include Medium {
					width: 50%;
				}

				@include Small {
					width: 100%;
				}
			}

			&:first-child {
				background-image: url(../../public/images/forest-1.jpg);
				margin-right: 1rem;
			}

			&:nth-child(2) {
				background-image: url(../../public/images/forest-2.jpg);
			}

			&:nth-child(3) {
				background-image: url(../../public/images/forest-3.jpg);
			}

			&:last-child {
				background-image: url(../../public/images/forest-4.jpg);
				margin-left: 1rem;
			}
		}
	}
}

.video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.708);
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 2rem;
		cursor: pointer;
	}
}