@use '../base/variables';
@import "../base/mixin";

.container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.bg {
    background: linear-gradient(transparent, transparent, variables.$bgColor), center / cover no-repeat url(../../public/images/landing-bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

@-webkit-keyframes zoom-b {
    0% {
        -ms-transform: scale(1, 1);
        transform: scale(1, 1) translateZ(1px);
    }

    100% {
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2) translateZ(1px);
    }
}

@-moz-keyframes zoom-b {
    0% {
        -ms-transform: scale(1, 1);
        transform: scale(1, 1) translateZ(1px);
    }

    100% {
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2) translateZ(1px);
    }
}

@-o-keyframes zoom-b {
    0% {
        -ms-transform: scale(1, 1);
        transform: scale(1, 1) translateZ(1px);
    }

    100% {
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2) translateZ(1px);
    }
}

@keyframes zoom-b {
    0% {
        -ms-transform: scale(1, 1);
        transform: scale(1, 1) translateZ(1px);
    }

    100% {
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2) translateZ(1px);
    }
}

.type {
    -webkit-animation: zoom-b 20s linear infinite alternate;
    /* Safari 4+ */
    -moz-animation: zoom-b 20s linear infinite alternate;
    /* Fx 5+ */
    -o-animation: zoom-b 20s linear infinite alternate;
    /* Opera 12+ */
    animation: zoom-b 20s linear infinite alternate;
    /* IE 10+, Fx 29+ */

    @include Small {
        animation: none;
    }
}