@use '../base/variables';
@import "../base/mixin";

.container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            margin: 0 1rem;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
    }

    img {
        width: auto;
        transition: all 1s ease;

        &.small {
            height: 150px;
        }


        &.large {
            height: 80vh;
        }
    }

    .start {
        border: 1px solid #f8f6f0;
        padding: 1rem;
        border-radius: 50px;
        cursor: pointer;
        user-select: none;
        transition: all 1s ease;
    }
}