.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;

    .item {
        &.description {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 0 2rem 0 0;

            h1 {
                font-size: 50px;
                margin: 2rem 0;
                position: relative;

                // &::before {
                //     content: 'Team Concept';
                //     position: absolute;
                //     top: 5px;
                //     left: -10px;
                //     right: 0;
                //     width: 100%;
                //     color: #ffffffa5;
                //     font-size: 50px;
                // }
            }
        }

        &.vedio {
            width: 60%;
            padding: 0 1rem;

            iframe {
                width: 100%;
                height: 500px;
            }
        }
    }
}
