@use '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import "@/styles/base/mixin";

.container {
	width: 100vw;
	height: auto;
	padding: 0 10%;
	position: relative;

	@include Medium {
		padding: 10% 5%;
	}

	.tabGroup {
		margin-bottom: 2rem;
		display: flex;
		flex-wrap: wrap;

		.tab {
			width: auto;
			text-align: center;
			z-index: 2;
			color: #c6c6c6;
			padding: 10px;
			height: auto;
			cursor: pointer;
			position: relative;
			transition: all 0.5s ease;
			margin-right: 1rem;

			@include X-Small {
				min-width: 25%;
				margin-right: 0;
			}

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				border-radius: 50px;
				transition: all 0.5s ease;
			}

			&:hover {
				&::before {
					width: 100%;
					background: #4c4c4c;
				}
			}

			&.active {
				color: variables.$fontColor;

				&::before {
					width: 100%;
					background: variables.$fontColor;
				}
			}
		}
	}

	.items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		overflow: hidden;

		.item {
			position: relative;
			width: calc(100%/3 - 1rem);
			overflow: hidden;
			margin: 0.5rem;
			cursor: pointer;
			transition: all 0.5s ease;
			background: rgba(255, 255, 255, 0.5);

			@include Large {
				width: calc(100%/2 - 1rem);
			}

			@include Small {
				width: calc(100% - 1rem);
			}

			.play {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: none;
				transition: all 0.5s ease;
			}

			&:hover {
				filter: grayscale(100%);

				.play {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		img {
			transform: scale(2, 2);
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.5);
		}
	}
}

.video {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.708);
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 2rem;
		cursor: pointer;
	}

	iframe {
		width: 80%;
		height: 80%;

		@include Medium {
			width: 100%;
			height: 100%;
		}
	}
}