@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Noto Serif TC", serif !important;
  background-color: variables.$bgColor;
  color: variables.$fontColor;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

nextjs-portal {
  display: none;
}